<% breadcrumb :artists %>
<div id="artist-index-header">
    <div class="row justify-content-between">
        <div class="col-4">
            <h1> All Artists for You</h1>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-secondary create-artist">
                <%=link_to "Create a New Artist" , new_user_artist_path(current_user) %>
            </button>
        </div>
    </div>
</div>


 <p class="artists_descr"> Listed out below are all artists created so far. Go to your dashboard to add more now!</p>

<ul class="text-center">
    <% @artists.each do |a|  %>
        <li>
            <%= link_to a.name, artist_path(a) %>
        </li>

    <% end %>
</ul>