<% breadcrumb :comments, @post %>
<h1>All Comments for <%=@post.title%></h1>

<div>
    <ul>
        <% @comments.each do |c| %>
            <li><%= c.user.name%> said "<%=c.content%>" published <%= time_ago_in_words(c.created_at) %> ago.</li>
            <% end %>
    </ul>

</div>