<% breadcrumb :most_photocards %>

<h2>The Last <%= time_ago_in_words(1.week.ago.utc) %> Top Photocard Creators:</h2>
<%= link_to 'Back' , :back %>
<p>Where do you chart?</p>
<div class="text-center">
    <ol>
<% @users.each do |u| %>
<li>
    <%=u.name.capitalize%> - <%=u.photocards.count%> photocard(s)
</li>
<%end%>
</ol>
</div>