<div>
    <h1> Welcome <%= @user.name.capitalize %></h1>
</div>




<%= link_to "Delete Account" , user_path(@user), method: "delete" ,  data: { confirm: "Are you sure?" } %>



<div>
    <%= link_to "Logout" , logout_path, method: "delete" %>
</div>