<h1>Editing <%= @photocard.title.capitalize %>
</h1>

<%= render "form" , photocard: @photocard %>

<br>

<%= link_to "Delete Photocard" , photocard_path(@photocard), method: "delete" , data: { confirm: "Are you sure?" } %>